:root {
    --cor-header-footer: #012822;
    --cor-main: #F5F7FA;
    --cor-background-cards: #cee6e7;
    --cor-bordas-separacao: #b5d7d8;
    --cor-bandeira: linear-gradient(120deg,
            transparent 0%,
            transparent 55%,

            rgba(0, 166, 126, 1) 55%,
            rgb(44, 84, 74) 68%,

            rgba(255, 255, 255, 1) 68%,
            rgb(241, 238, 238) 80%,

            rgba(217, 25, 32, 1) 80%,
            rgb(100, 12, 22) 100%);
    --font-family: font-family: "Roboto", sans-serif;
    --cor-texto-principal: #012822;
    --cor-texto-secundario: #485563;
    --cor-texto-claro: #FFFFFF;
    --shadow-header: 0 2px 8px rgba(0, 0, 0, 0.12);
    --shadow-card-data: 0 12px 30px rgba(0, 0, 0, 0.18);
    --shadow-card-weather: 0 8px 20px rgba(0, 0, 0, 0.15);
    --shadow-card-hover: 0 16px 40px rgba(0, 0, 0, 0.22);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

/* Mobile pequeno até 480px 📱 Mobile até 767px */
header,
footer {
    background-color: var(--cor-header-footer);
    color: var(--cor-texto-claro);
    font-family: var(--font-family);
    height: 6rem;
}

.img-header {
    width: 80px;
    height: 100%;
}

header {
    position: relative;
    width: 100%;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

header::after {
    content: "";
    position: absolute;

    top: 0;
    right: 0;

    width: 20rem;
    height: 100%;
    background: var(--cor-bandeira);

}


.header::after {
    content: "";
    position: absolute;

    top: 0;
    right: 0;

    width: 12rem;
    height: 100%;
    background: var(--cor-bandeira);

}

.logo {
    display: flex;
    align-items: center;
}

.header {
    position: relative;
    overflow: hidden;
    display: flex;
    padding: 4px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--cor-header-footer);
    color: var(--cor-texto-claro);

}

picture {
    position: relative;
    width: 100%;
    height: auto;
    border-bottom-right-radius: 16px;
    overflow: hidden;

}

.piture-img::before {
    content: "";

    position: absolute;
    inset: 0;
    border-bottom-right-radius: 16px;

    background:
        linear-gradient(90deg,
            rgba(0, 0, 0, .75) 0%,
            rgba(0, 0, 0, .45) 45%,
            rgba(0, 0, 0, .10) 100%);
}

.cards {
    width: 100%;
    padding: 8px 8px 0 8px;
    font-family: var(--font-family);
}

aside {
    width: 100%;
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--cor-background-cards);
}

.weather-img{
    display: flex;
    width: 100%;
}
.img-clima {
    margin: 0 auto;
    width: 150px;
    height: auto;
}

.header img {
    width: 30px;
    height: 30px;
    margin-right: 16px;
}

.container-linha {
    display: flex;

}

.name-value {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-left: 24px;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400px;
    border-bottom: 1px solid var(--cor-bordas-separacao);
}
.name-value p:nth-child(1) {
    margin-right: 20px;
    color:var(--cor-texto-secundario);
}


.value{
    color: var(--cor-texto-principal);
}

@media (max-width: 767px) {
    picture img {
        width: 100%;
        height: auto;
    }
    
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--cor-main);
    }
    
    footer {
        margin-top: 8px;
        font-size: 14px;
    }
}